@charset "UTF-8";

html, body {margin: 0; padding: 0;}

#banner {
    position: relative;
    background-image: url("001/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; 
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin:0 auto 0 auto;
}

#circuloImg{
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 0;
    height: 0;
    left: 50%;
    top: 40%;
    opacity: 100;
    filter: alpha(opacity=100);
}

#pontos {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: auto;
    top: 0;
    left:-10%;
    opacity: 100;
    filter: alpha(opacity=100);
}

#texto{
    width: 300px;
    height: 250px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

#black {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;
    left:-300px;
    opacity: 100;
    filter: alpha(opacity=100);
}

#friday {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;
    right:-300px;
    opacity: 100;
    filter: alpha(opacity=100);
}

#caixa {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;
    top: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
    /* transition: ease-out; */
}

/* ANIMAÇÃO 02 */

#pontosTop, #pontosBottom {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;
    left:-40px;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 9;
}

#reducao {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;
    top: 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    /* transition: ease-out; */
}

#aplicacao, #aplicacao2 {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;
    right: 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    /* transition: ease-out; */
}

/* ANIMAÇÃO 03 */

#dezessete, #letraA, #vinteSete, #novembro  {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;
    top:20px;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 9;
}

/* ANIMAÇÃO 04 */

#quina, #caixa004 {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;
    left: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
    /* transition: ease-out; */
}

#com, #voce, #condicao {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;
    opacity: 0;
    filter: alpha(opacity=0);
}

#saibaMais {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;
    top:30px;
    opacity: 0;
    filter: alpha(opacity=0);
}